* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: hsl(212, 45%, 90%);
  /*Usando o display-Flex para opções abaixo*/
  display: flex;
  /*Justificado ao centro bem mais facil do que estava no branch anterior*/
  justify-content: center;
  /* E alinhando consome bem menos codigos usando magir:0 auto*/
  align-items: center;
}

a {
  text-decoration: none;
}

.app {
  width: 320px;
  height: 497px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 19px;
  /*gambiarra abaixo sempre tem*/
  margin-top: 20%;
  position: absolute;
  box-shadow: 10px 5px 5px rgb(214, 214, 214);
}

/* Não esquecer do absolute para ficar em cima da camada seguinte */
img {
  width: 288px;
  height: 288px;
  border-radius: 10px;
  margin: 16px 16px 193px 16px;
  position: absolute;
}

@font-face {
  font-family: "OutFit";
  src: url("OutFit-Bold.ttf"), ("OutFit-Regular.ttf") format ("truetype");
  font-weight: normal;
  font-style: normal;
}

section {
  width: 274px;
  height: 413px;
  margin: 326px 23px 40px 23px;
  text-align: center;
}

/* O apredizado de hoje é chmar especificamente um seletor com o Section depois p */
section p {
  font-size: 15px;
  font-weight: normal;
  width: 400px 36.5px 125px 36.5px;
  letter-spacing: 1px;
  color: hsl(220, 15%, 55%);
}

p h1 {
  font-family: OutFit;
  font-weight: normal;
}

h1 {
  color: hsl(218, 44%, 22%);
}

footer p {
  font-size: 13px;
  width: 290px;
  align-items: center;
  margin-left: 20px;
}

footer {
  width: 320px;
}