* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: hsl(212, 45%, 90%);
  /*Usando o display-Flex para opções abaixo*/
  display: flex;
  /*Justificado ao centro bem mais facil do que estava no branch anterior*/
  justify-content: center;
  /* E alinhando consome bem menos codigos usando magir:0 auto*/
  align-items: center;
}

a {
  text-decoration: none;
}

.app {
  width: 20rem;
  height: 31.066rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.188rem;
  /*gambiarra abaixo sempre tem*/
  margin-top: 20%;
  position: absolute;
  box-shadow: 0.625rem 0.313rem 0.313rem rgb(214, 214, 214);
}

/* Não esquecer do absolute para ficar em cima da camada seguinte */
img {
  width: 18rem;
  height: 18rem;
  border-radius: 0.625rem;
  margin: 1rem 1rem 12.063rem 1rem;
  position: absolute;
}

@font-face {
  font-family: "OutFit";
  src: url("OutFit-Bold.ttf"), ("OutFit-Regular.ttf") format ("truetype");
  font-weight: normal;
  font-style: normal;
}

section {
  width: 17.125rem;
  height: 25.813rem;
  margin: 20.375rem 1.438rem 2.5rem 1.4375rem;
  text-align: center;
}

/* O apredizado de hoje é chmar especificamente um seletor com o Section depois p */
section p {
  font-size: 0.9375rem;
  font-weight: normal;
  width: 25rem 2.281rem 7.812rem 2.281rem;
  letter-spacing: 0.0625rem;
  color: hsl(220, 15%, 55%);
}

p h1 {
  font-family: OutFit;
  font-weight: normal;
}

h1 {
  color: hsl(218, 44%, 22%);
}

footer p {
  font-size: 0.8125rem;
  width: 18.125rem;
  align-items: center;
  margin-left: 1.25rem;
}

footer {
  width: 20rem;
}