@media (min-width: 320px) and (max-width: 374px) {
  html,
  body {
    width: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .app {
    width: 280px;
    height: 465px;
    margin: 85px 20px;
  }

  img {
    width: 250px;
    height: 250px;
    margin: 16px 16px 193px 16px;
  }

  section {
    width: 240px;
    height: 413px;
    margin: 300px 23px 30px 23px;
    text-align: center;
  }

  section p {
    font-size: 13px;
    width: 240px;
    text-align: center;
  }

  h1{
    font-size: 20px;
  }
}

@media (min-width: 375px) and (max-width: 760px) {
  html,
  body {
    width: 375px;
    height: 667px;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .app {
    margin: 85px 27.5px;
  }
}